%{ if FIRST_SERVER != "" ~}
server: https://${FIRST_SERVER}:9345
%{ endif ~}

%{ if INSTALL_RKE2_TYPE == "server" ~}
cluster-domain: cluster.yumenomatayume.home
write-kubeconfig-mode: "0644"
tls-san: ${TLS_SAN}
cni: cilium
disable: rke2-ingress-nginx
disable-kube-proxy: true
%{ else ~}
%{ endif ~}

token: ${TOKEN}
