" character code
set encoding=utf-8
scriptencoding=utf-8
set fileencoding=utf-8
set fileencodings=ucs-boms,utf-8,euc-jp,cp932
set fileformats=unix,dos,mac
set ambiwidth=double

" tab / indent
set expandtab
set tabstop=4
set softtabstop=4
set autoindent
set smartindent
set shiftwidth=4

" search
set incsearch
set ignorecase
set smartcase
set hlsearch
nnoremap <silent><Esc><Esc> :<C-u>set nohlsearch!<CR>

" cursor
set whichwrap=b,s,h,l,<,>,[,],~
set nu
set cursorline
set title
set t_Co=256

" ()
set showmatch
source $VIMRUNTIME/macros/matchit.vim

" compliment
set wildmenu
set history=5000

" foldmethod
set foldmethod=syntax
let perl_fold=1
set foldlevel=100 "Don't autofold anything


" paste
if &term =~ "xterm"
    let &t_SI .= "\e[?2004h"
    let &t_EI .= "\e[?2004l"
    let &pastetoggle = "\e[201~"

    function XTermPasteBegin(ret)
        set paste
        return a:ret
    endfunction

    inoremap <special> <expr> <Esc>[200~ XTermPasteBegin("")
endif


syntax enable
syntax on

"dein
if &compatible
  set nocompatible
endif

set runtimepath+={{ dein.install_dir }}/dein/repos/github.com/Shougo/dein.vim

if dein#load_state('{{ dein.install_dir }}/dein/')
  call dein#begin('{{ dein.install_dir }}/dein/')

  let g:rc_dir    = expand('{{ dein.rc_dir }}')
  let s:toml      = g:rc_dir . '/{{ dein.toml }}'
  let s:lazy_toml = g:rc_dir . '/{{ dein.lazy_toml }}'

  call dein#load_toml(s:toml,      {'lazy': 0})
  call dein#load_toml(s:lazy_toml, {'lazy': 1})

  call dein#end()
  call dein#save_state()
endif

filetype plugin indent on

if dein#check_install()
  call dein#install()
endif
