# common
.DS_Store
.env
*.swp
crash.log

# packer
packer_cache/
output-*/
*.box

# ansible
.venv/
.vault_password

# terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# rke
cluster.rkestate
kube_config_cluster.yml

# vagrant
.vagrant/
