[submodule "roles/ansible-role-docker"]
	path = roles/ansible-role-docker
	url = git@github.com:geerlingguy/ansible-role-docker.git
[submodule "roles/ansible-role-kubernetes"]
	path = roles/ansible-role-kubernetes
	url = git@github.com:geerlingguy/ansible-role-kubernetes.git
