# common
.DS_Store
.env
*.swp
crash.log

# ansible
.venv/
.vault_password

# packer
packer_cache/
*.box

# terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# vagrant
.vagrant/
