[defaults]
inventory = ./inventories/
forks = 5
host_key_checking = false
gathering = smart
vault_password_file = .vault_password

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
