### Localization
d-i debian-installer/locale string en_US.UTF-8
d-i console-setup/ask_detect boolean false
d-i console-setup/layout string us

### Account setup
d-i passwd/root-login boolean true
d-i passwd/make-user boolean false
d-i passwd/root-password password password
d-i passwd/root-password-again password password
d-i user-setup/encrypt-home boolean false

### Clock and time zone setup
d-i time/zone string Asia/Tokyo

### Partitioning
d-i partman-auto/method string lvm
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto-lvm/guided_size string max
d-i partman/choose_partition select finish
d-i partman/confirm_nooverwrite boolean true

### Mirror settings
d-i mirror/country string JP
# d-i mirror/http/proxy string

### Package selection
tasksel tasksel/first multiselect standard
d-i pkgsel/include string openssh-server curl ifupdown
d-i pkgsel/upgrade select none
d-i pkgsel/update-policy select none
d-i pkgsel/language-packs multiselect none
d-i pkgsel/install-language-support boolean false

### Boot loader installation
d-i grub-installer/only_debian boolean true

### Finishing up the installation
d-i finish-install/reboot_in_progress note

### Setup ssh root login
d-i preseed/late_command string \
    in-target sed -i '/PermitRootLogin/c PermitRootLogin yes' /etc/ssh/sshd_config