{% for vlan in vlans %}
{% if vlan.type != 'outbound' %}
set service dhcp-server shared-network-name VLAN{{ vlan.id }} subnet {{ vlan.cidr }} range 0 start {{ vlan.cidr | ipaddr('next_usable') }}
set service dhcp-server shared-network-name VLAN{{ vlan.id }} subnet {{ vlan.cidr }} range 0 stop {{ vlan.cidr | next_nth_usable(dhcp.range | last)}}

{% if vlan.type == 'public' %}
set service dhcp-server shared-network-name VLAN{{ vlan.id }} subnet {{ vlan.cidr }} default-router {{ vlan.cidr | ipaddr('next_usable') }}
{% endif %}

set service dhcp-server shared-network-name VLAN{{ vlan.id }} subnet {{ vlan.cidr }} dns-server 8.8.8.8
set service dhcp-server shared-network-name VLAN{{ vlan.id }} subnet {{ vlan.cidr }} failover local-address {{ vlan.ipaddr | ipaddr('address') }}
set service dhcp-server shared-network-name VLAN{{ vlan.id }} subnet {{ vlan.cidr }} failover peer-address {{ vlan.peer | ipaddr('address') }}
set service dhcp-server shared-network-name VLAN{{ vlan.id }} subnet {{ vlan.cidr }} failover name failover-VLAN{{ vlan.id }}
set service dhcp-server shared-network-name VLAN{{ vlan.id }} subnet {{ vlan.cidr }} failover status {{ dhcp.failover.status }}

{% for forth_octet in dhcp.static_mapping %}
set service dhcp-server shared-network-name VLAN{{ vlan.id }} subnet {{ vlan.cidr }} static-mapping {{ forth_octet }} ip-address {{ vlan.cidr | next_nth_usable(forth_octet) }}
set service dhcp-server shared-network-name VLAN{{ vlan.id }} subnet {{ vlan.cidr }} static-mapping {{ forth_octet }} mac-address 00:50:56:00:{{ '%02x' % vlan.id }}:{{ '%02x' % forth_octet }}
{% endfor %}

{% endif %}
{% endfor %}