{% for vlan in vlans %}
set high-availability vrrp group VLAN{{ vlan.id }} address '{{ vlan.vip }}'
set high-availability vrrp group VLAN{{ vlan.id }} hello-source-address '{{ vlan.ipaddr | ipaddr('address') }}'
set high-availability vrrp group VLAN{{ vlan.id }} interface '{{ vlan.eth }}'
set high-availability vrrp group VLAN{{ vlan.id }} peer-address '{{ vlan.peer | ipaddr('address') }}'
set high-availability vrrp group VLAN{{ vlan.id }} priority '{{ vrrp.priority }}'
set high-availability vrrp group VLAN{{ vlan.id }} vrid '{{ vlan.id }}'
{% endfor %}
