name: Ansible Lint
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ansible-lint:
    name: ansible lint
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, '[ci skip]') == false

    steps:
    - uses: actions/checkout@v2

    - name: Lint Ansible Playbook
      uses: ansible-community/ansible-lint-action@main
